body { 
    margin:0; padding:0; 
    background:#ddf;
}
#map { 
    /*position:absolute; */
    height:500px;
    top:0; 
    bottom:0; 
    width:100%; 
}

#ridestable {
    padding: 1em;
}

#ridebox {
    background: white;
    border: 1px solid lightgrey;
    margin: 1em;
    padding: 1em;

}

#ridebox ul {
    /*padding-left: 0;*/
}

#ridebox li {
    list-style: none;
    text-indent: -3em;
}
